.doctors-page{
    padding: 20px;
  color: #fff;
}
.left-panel {
  width: 25%;
}
.right-panel {
  flex: 1;
  margin-left: 20px;
}
.doctors-page form{
margin-bottom: 20px;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  height: 50vh;
  overflow-y: auto;
}
.doctors-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: #fff;
  color: #000;
}

.doctors-table th,
.doctors-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}
